.alert.alert-warning.alert-dismissible{:role => "alert"}
  %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
  %strong Message!
  - flash.each do |key, value|
    - if value.is_a? Hash
      - value.each do |k,v|
        - errors = v.join(', ')
        = content_tag :div, "#{k} #{errors}", class: "flash #{key}"
    - else
      = content_tag :div, value, class: "flash #{key}"
