!!!
%html
  %head
    %title Accounting Application
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              %h3.masthead-brand 
                = link_to 'Accounting App', root_path
              = render 'layouts/nav'
          - if flash.any?
            = render 'layouts/flash_messages'
          = yield
          = render 'layouts/footer'
