= form_for @account, class: 'form-horizontal' do |f|
  .form-group
    = f.label 'Name'
    = f.text_field :name, class: 'form-control', placeholder: 'Enter account name'
  .form-group
    = f.label 'Current Balance'
    = f.number_field :current_balance, class: 'form-control', placeholder: 'Enter Current Balance'
  = f.submit 'Submit', class: 'btn btn-default'
